/*----------------------- Default ------------------------*/
/*----------------------- Reset ------------------------*/
/*----------------------- Reset CSS ------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*----------------------- Helpers ------------------------*/
.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

.nowrap {
  white-space: nowrap; }

body {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.4446;
  font-weight: 400;
  letter-spacing: 0em;
  background-color: #fff;
  color: #333;
  font-style: normal; }

/*----------------------- Footer ------------------------*/
.footer__nav-column-section ~ .footer__nav-column-section {
  padding-top: 20px; }
  @media screen and (max-width: 767px) {
    .footer__nav-column-section ~ .footer__nav-column-section {
      padding-top: 0; } }

.footer {
  font-size: 12px;
  line-height: 1.66667;
  font-weight: 400;
  letter-spacing: normal;
  background-color: #f2f2f2;
  color: #666;
  min-width: 1024px;
  overflow: hidden;
  position: relative;
  z-index: 1; }
  @media screen and (max-width: 1044px) {
    .footer {
      min-width: 320px; } }
  .footer a {
    color: #666;
    text-decoration: none; }
    .footer a:hover, .footer a:link, .footer a:visited, .footer a:active {
      text-decoration: none; }
  .footer__wrap {
    margin: 0 auto;
    padding: 0 22px;
    max-width: 980px; }
  .footer__nav {
    padding-top: 32px; }
    .footer__nav-column {
      width: 20%;
      position: relative;
      z-index: 1;
      min-height: 2px;
      margin: 0;
      padding: 0;
      float: left; }
      @media screen and (max-width: 767px) {
        .footer__nav-column {
          width: 100%; } }
      .footer__nav-column-section {
        width: 100%;
        position: relative;
        z-index: 1;
        min-height: 2px;
        margin: 0;
        padding: 0;
        float: left;
        pointer-events: none; }
        .footer__nav-column-section-state {
          display: none; }
        @media screen and (max-width: 767px) {
          .footer__nav-column-section {
            border-bottom: 1px solid #e3e3e3;
            overflow: hidden;
            pointer-events: auto; } }
        .footer__nav-column-section-list {
          margin-right: 20px;
          list-style: none;
          padding: 0; }
          @media screen and (max-width: 767px) {
            .footer__nav-column-section-list {
              margin: 0;
              overflow: visible;
              padding-bottom: 16px;
              position: absolute;
              top: 100%;
              left: 0;
              width: 100%;
              visibility: hidden;
              z-index: -1;
              transform: translateY(-100px); } }
        .footer__nav-column-section-item {
          display: block;
          pointer-events: auto; }
        .footer__nav-column-section-title {
          font-size: 12px;
          line-height: 1.66667;
          font-weight: 500;
          letter-spacing: normal;
          color: #333;
          margin: 0; }
          @media screen and (max-width: 767px) {
            .footer__nav-column-section-title {
              background: #f2f2f2;
              cursor: pointer;
              position: relative;
              user-select: none;
              z-index: 2;
              font-size: 14px;
              line-height: 2.78571;
              font-weight: 400;
              letter-spacing: normal; }
              .footer__nav-column-section-title:after {
                content: '+';
                float: right;
                font-weight: normal;
                margin-right: 8px;
                transition: transform .3s ease; } }
        @media screen and (max-width: 767px) {
          .footer__nav-column-section-link {
            outline-offset: -6px;
            padding: 0 14px;
            display: block; } }
  .footer__more {
    color: #999;
    padding: 20px 0 24px; }
    .footer__more-top {
      border-bottom: 1px solid #e3e3e3;
      max-height: 9999px;
      margin-bottom: 6px;
      padding-bottom: 5px; }
      @media screen and (max-width: 767px) {
        .footer__more-top {
          border-bottom: 0; } }
      .footer__more-top a {
        color: #08c; }
    @media screen and (max-width: 767px) {
      .footer__more-location {
        float: none; } }
    .footer__more-location-flag {
      background-repeat: no-repeat;
      background-size: 16px 16px;
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url("http://images.apple.com/ac/flags/1/images/us/16.png");
      padding-right: 5px;
      background-position: left center;
      cursor: pointer;
      float: left;
      margin-top: 1px; }
    @media screen and (max-width: 767px) {
      .footer__more-legal {
        padding-top: 13px; } }
    .footer__more-legal-copyright {
      margin-right: 26px; }
      @media screen and (max-width: 767px) {
        .footer__more-legal-copyright {
          float: none;
          margin-right: 0; } }
    .footer__more-legal-links {
      margin-right: 26px; }
      @media screen and (max-width: 767px) {
        .footer__more-legal-links {
          float: none;
          margin-right: 0; } }
      .footer__more-legal-links a {
        border-right: 1px solid #d6d6d6;
        margin-right: 10px;
        padding-right: 12px;
        white-space: nowrap; }

@media screen and (max-width: 767px) {
  .footer__nav-column-section-state:target + .footer__nav-column-section .footer__nav-column-section-list,
  .footer__nav-column-section-state:checked + .footer__nav-column-section .footer__nav-column-section-list {
    position: static;
    visibility: visible;
    z-index: 1;
    transform: none;
    transition: transform 300ms ease; }
  .footer__nav-column-section-state:target + .footer__nav-column-section .footer__nav-column-section-title:after,
  .footer__nav-column-section-state:checked + .footer__nav-column-section .footer__nav-column-section-title:after {
    transform: rotate(45deg) scale(1.08); }
  .footer__nav-column-section-state:target + .footer__nav-column-section .footer__nav-column-section-title,
  .footer__nav-column-section-state:checked + .footer__nav-column-section .footer__nav-column-section-title {
    font-weight: 600;
    color: #333; } }
