/*----------------------- Default ------------------------*/
/*----------------------- Reset ------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1;
  box-sizing: border-box; }

ol,
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

/*----------------------- Helpers ------------------------*/
.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

.nowrap {
  white-space: nowrap; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.block {
  display: block !important; }

.hidden {
  overflow: hidden; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.4446;
  font-weight: 400;
  letter-spacing: 0em;
  background-color: #fff;
  color: #333;
  font-style: normal; }

/*----------------------- Microsoft ------------------------*/
.microsoft {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  font-size: 15px;
  background: #fff;
  color: #2F2F2F;
  width: 100%;
  z-index: 1000;
  font-family: "Open Sans", sans-serif; }
  .microsoft__wrap {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto; }
    @media screen and (min-width: 999px) {
      .microsoft__wrap {
        width: 90%; } }
  .microsoft__nav a,
  .microsoft__nav a:hover,
  .microsoft__nav a:focus,
  .microsoft__nav a:visited,
  .microsoft__nav a:active {
    color: #2F2F2F;
    font-weight: normal;
    text-decoration: none; }
  .microsoft__nav-brand {
    float: left;
    line-height: normal;
    padding-left: 10px;
    height: 48px; }
    @media screen and (min-width: 999px) {
      .microsoft__nav-brand {
        line-height: 48px;
        padding: 0; } }
    .microsoft__nav-brand a {
      display: block;
      margin-top: 13px; }
    .microsoft__nav-brand img {
      display: block;
      vertical-align: baseline;
      max-height: 23px; }
  .microsoft__nav-menu.opened {
    width: 80%;
    height: calc(100% - 48px);
    display: block; }
    @media screen and (max-width: 540px) {
      .microsoft__nav-menu.opened {
        width: 100%;
        max-width: none; } }
  .microsoft__nav-menu {
    position: absolute;
    margin-top: 48px;
    right: 0;
    transition: width .3s ease-out;
    z-index: 1000;
    width: 0;
    max-width: 300px;
    height: 100%;
    height: calc(100% - 50px);
    display: none; }
    @media screen and (min-width: 999px) {
      .microsoft__nav-menu {
        margin: 0 0 0 18px;
        position: static;
        width: auto;
        height: auto;
        max-width: none;
        background-color: transparent;
        float: left;
        display: block; } }
    .microsoft__nav-menu > ul {
      background-color: #f2f2f2;
      height: 100%;
      overflow: auto; }
      @media screen and (min-width: 999px) {
        .microsoft__nav-menu > ul {
          background-color: transparent;
          overflow: visible; } }
      .microsoft__nav-menu > ul > li {
        position: relative;
        float: none;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: #f2f2f2; }
        @media screen and (min-width: 999px) {
          .microsoft__nav-menu > ul > li {
            float: left;
            background-color: transparent; } }
        .microsoft__nav-menu > ul > li a {
          display: block;
          padding: 0 12px;
          line-height: 48px;
          transition: background-color ease-out .5s; }
          @media screen and (min-width: 999px) {
            .microsoft__nav-menu > ul > li a {
              padding: 0 1.5em; } }
          > .microsoft__nav-menu > ul > li a:hover {
            background-color: #f2f2f2; }
            @media screen and (max-width: 999px) {
              > .microsoft__nav-menu > ul > li a:hover {
                background-color: #e5e5e5; } }
      .microsoft__nav-menu > ul > li.active {
        background-color: #f2f2f2;
        transition: background-color ease-out .5s; }
  .microsoft__nav .opened {
    background-color: #f2f2f2; }
  .microsoft__nav-toggle {
    display: block;
    float: right; }
    @media screen and (min-width: 999px) {
      .microsoft__nav-toggle {
        display: none; } }
    .microsoft__nav-toggle button {
      height: 48px;
      line-height: 48px;
      width: 44px;
      background: 0;
      border: 0;
      cursor: pointer;
      display: inline-block;
      padding: 0 .6em;
      color: #7f7f7f;
      transition: background-color .3s ease-out;
      font-weight: normal;
      font-size: 15px;
      font-family: "Open Sans", sans-serif;
      margin: 0;
      min-width: 0;
      border-radius: 0;
      vertical-align: inherit; }
      .microsoft__nav-toggle button:focus {
        background-color: #e5e5e5; }
      .microsoft__nav-toggle button:hover {
        outline: 0;
        color: #0072C6;
        background-color: #f2f2f2;
        transition: background-color 0s; }
      .microsoft__nav-toggle button i {
        color: #afafaf;
        display: inline-block;
        width: 1em;
        height: 1em;
        vertical-align: middle;
        overflow: visible;
        font-size: 1.4em;
        position: relative;
        bottom: 2px;
        margin: 0 auto; }
  .microsoft__dropdown-label {
    transition: background-color ease-out .5s; }
    .microsoft__dropdown-label:hover {
      background-color: #f2f2f2;
      transition: background-color ease-out .5s; }
      @media screen and (max-width: 999px) {
        .microsoft__dropdown-label:hover {
          background: #e5e5e5;
          transition: background-color ease-out .5s; } }
    @media screen and (max-width: 999px) {
      .microsoft__dropdown-label a {
        position: relative; } }
    .microsoft__dropdown-label a i {
      margin-left: 6px;
      font-size: 10px;
      color: #777; }
      @media screen and (max-width: 999px) {
        .microsoft__dropdown-label a i {
          position: absolute;
          right: 30px;
          line-height: 48px; } }
  .microsoft__dropdown-container {
    display: none;
    position: static;
    z-index: 1000;
    top: 100%;
    left: 0;
    width: auto;
    min-height: 0;
    padding: 0;
    background-color: #e5e5e5;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.1); }
    @media screen and (min-width: 999px) {
      .microsoft__dropdown-container {
        position: absolute;
        width: auto;
        padding: 0 0 8px;
        background: #f2f2f2; } }
    .microsoft__dropdown-container > ul > li.active {
      background-color: #e5e5e5; }
  .microsoft__dropdown-tab {
    transition: background-color ease-out .5s;
    width: 100%; }
    .microsoft__dropdown-tab a {
      display: block;
      min-height: 28px;
      padding: 14px 10px;
      line-height: 20px;
      color: #505050;
      min-width: 200px; }
      @media screen and (max-width: 999px) {
        .microsoft__dropdown-tab a:hover {
          background-color: #d9d9d9; } }
      .microsoft__dropdown-tab a:hover {
        text-decoration: none;
        cursor: default; }
      @media screen and (min-width: 999px) {
        .microsoft__dropdown-tab a {
          padding: 17px 24px; } }
      .microsoft__dropdown-tab a i {
        display: block;
        width: 1em;
        height: 1em;
        font-style: normal;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        float: right;
        font-size: 10px;
        margin: 12px 16px;
        line-height: 34px; }
        @media screen and (max-width: 999px) {
          .microsoft__dropdown-tab a i {
            transform: rotate(90deg);
            line-height: 9px;
            margin-top: 20px; } }
        @media screen and (min-width: 999px) {
          .microsoft__dropdown-tab a i {
            margin: 7px 3px; } }
    .microsoft__dropdown-tab-link a:hover {
      text-decoration: underline;
      cursor: pointer; }
    .microsoft__dropdown-tab-content {
      display: none;
      position: static;
      top: 0;
      left: 245px;
      width: auto;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      background-color: #e5e5e5;
      padding-bottom: 8px; }
      @media screen and (max-width: 999px) {
        .microsoft__dropdown-tab-content {
          padding-bottom: 0; } }
      @media screen and (min-width: 999px) {
        .microsoft__dropdown-tab-content {
          overflow: hidden;
          position: absolute;
          width: 300px;
          z-index: 2; } }
    .microsoft__dropdown-tab-list {
      float: none;
      width: auto;
      color: #505050;
      background-color: #d9d9d9;
      display: none;
      height: 100%;
      padding-bottom: 8px; }
      @media screen and (max-width: 999px) {
        .microsoft__dropdown-tab-list {
          padding-bottom: 0; } }
      @media screen and (min-width: 999px) {
        .microsoft__dropdown-tab-list {
          background-color: #e5e5e5;
          float: left;
          width: 100%; } }
      .microsoft__dropdown-tab-list > li.active {
        background-color: #d9d9d9;
        transition: background-color ease-out .5s; }
      .microsoft__dropdown-tab-list a:hover {
        text-decoration: underline;
        cursor: pointer; }
      @media screen and (max-width: 999px) {
        .microsoft__dropdown-tab-list a:hover {
          background-color: #cccccc; } }
  .microsoft__user {
    float: right; }
    @media screen and (max-width: 556px) {
      .microsoft__user {
        display: none; } }
    .microsoft__user-container {
      display: inline-block;
      position: relative;
      float: left;
      height: 48px;
      padding: 0 1em; }
      .microsoft__user-container:hover {
        color: #0078d7;
        background-color: #f2f2f2; }
    .microsoft__user-item {
      display: inline-block;
      cursor: pointer;
      font-size: 12px;
      border-width: 1px;
      border-style: solid;
      border-bottom-style: none;
      border-color: transparent;
      width: 100%;
      height: 48px;
      line-height: 48px; }
  .microsoft__toggle {
    display: block;
    float: right; }
    @media screen and (min-width: 999px) {
      .microsoft__toggle {
        display: none; } }
    .microsoft__toggle li {
      vertical-align: top;
      height: 48px;
      display: inline-block;
      transition: background-color ease-out .5s; }
      .microsoft__toggle li:hover {
        background-color: #f2f2f2;
        transition: background-color ease-out .5s; }
      .microsoft__toggle li:hover a span {
        color: #0072C6; }
      .microsoft__toggle li button {
        height: 48px;
        width: 44px;
        background: 0;
        border: 0;
        cursor: pointer;
        display: inline-block;
        padding: 0 .6em;
        color: #7f7f7f;
        line-height: 48px;
        transition: background-color .3s ease-out;
        font-weight: normal;
        font-size: 15px;
        margin: 0;
        min-width: 0;
        border-radius: 0;
        vertical-align: inherit; }
        @media screen and (min-width: 999px) {
          .microsoft__toggle li button {
            height: 48px;
            line-height: 48px;
            outline: 0;
            color: #0072C6;
            transition: background-color 0s;
            background-color: transparent; } }
        .microsoft__toggle li button i {
          font-size: 1.4em;
          color: #afafaf;
          position: relative;
          bottom: 2px;
          margin: 0 auto;
          display: inline-block;
          width: 1em;
          height: 1em;
          vertical-align: middle;
          overflow: visible; }
      .microsoft__toggle li a {
        margin-left: 0;
        background: 0;
        border: 0;
        cursor: pointer;
        display: inline-block;
        padding: 0 .6em;
        color: #7f7f7f;
        line-height: 48px;
        transition: background-color .3s ease-out; }
        .microsoft__toggle li a i {
          color: #afafaf;
          float: left;
          top: 15px;
          height: 48px;
          font-size: 1.4em;
          position: relative;
          bottom: 2px;
          margin: 0 auto;
          display: inline-block;
          width: 1em;
          vertical-align: middle;
          overflow: visible; }
        .microsoft__toggle li a span {
          font-size: .75em;
          float: left;
          margin-left: 3px; }
  .microsoft__actions {
    clear: both;
    margin: 0;
    float: none;
    background-color: #f2f2f2; }
    @media screen and (min-width: 999px) {
      .microsoft__actions {
        float: right;
        padding: 0;
        background-color: transparent;
        clear: none; } }
    .microsoft__actions-form {
      display: none;
      float: none;
      padding: 1.5em 10px;
      position: relative;
      text-align: center; }
      @media screen and (min-width: 999px) {
        .microsoft__actions-form {
          display: block;
          float: left;
          padding: 0 5px 0 0; } }
      .microsoft__actions-form-wrap {
        margin: 0 auto;
        position: relative;
        width: 70%; }
        @media screen and (min-width: 999px) {
          .microsoft__actions-form-wrap {
            width: auto;
            padding: 7px 5px 0 0; } }
        .microsoft__actions-form-wrap input {
          font-weight: normal;
          font-size: 15px;
          line-height: 1.5;
          margin: 0;
          min-width: 0;
          border-radius: 0;
          vertical-align: inherit;
          float: none;
          width: 100%;
          height: 30px;
          border: 0;
          max-width: none;
          outline: 0;
          padding-right: 35px;
          -webkit-appearance: none; }
          @media screen and (min-width: 999px) {
            .microsoft__actions-form-wrap input {
              float: left;
              width: 244px;
              height: 36px;
              padding: 0 10px;
              border: 1px solid #A9A9A9;
              border-right: 0; } }
        .microsoft__actions-form-wrap button {
          box-sizing: border-box;
          width: 33px;
          height: 30px;
          padding: 0;
          margin-left: -4px;
          border: 0;
          background: #0078D7;
          cursor: pointer;
          position: absolute;
          top: 0;
          right: 0;
          font-weight: normal;
          font-size: 15px;
          line-height: 1.5;
          margin: 0;
          min-width: 0;
          border-radius: 0;
          vertical-align: inherit; }
          @media screen and (min-width: 999px) {
            .microsoft__actions-form-wrap button {
              background-color: transparent;
              position: static;
              border: 1px solid #A9A9A9;
              border-left: none;
              height: 36px; } }
          .microsoft__actions-form-wrap button i {
            font-size: 1em;
            color: #fff;
            max-width: none;
            position: relative;
            top: -3px;
            display: inline-block;
            width: 1em;
            height: 1em;
            vertical-align: middle;
            overflow: visible; }
            @media screen and (min-width: 999px) {
              .microsoft__actions-form-wrap button i {
                font-size: 17px;
                color: #afafaf; } }
    .microsoft__actions-cart {
      float: left;
      padding: 5px;
      display: none;
      position: relative;
      top: 2px; }
      @media screen and (max-width: 999px) {
        .microsoft__actions-cart {
          display: none; } }
      .microsoft__actions-cart:hover {
        background-color: #f2f2f2; }
      .microsoft__actions-cart:hover span {
        color: #0078D7; }
      @media screen and (min-width: 999px) {
        .microsoft__actions-cart {
          display: inline-block;
          top: 0;
          padding: 0;
          text-align: center; } }
      .microsoft__actions-cart a {
        display: inline-block;
        vertical-align: middle;
        padding: 16px 10px;
        margin-left: 6px; }
        .microsoft__actions-cart a i {
          color: #afafaf;
          font-size: 1em;
          float: left; }
        .microsoft__actions-cart a span {
          font-size: .75em;
          float: left;
          margin-left: 3px; }

li.microsoft__dropdown-tab.active:hover .microsoft__dropdown-tab-list {
  display: block; }

@media screen and (max-width: 999px) {
  li.microsoft__dropdown-tab.active .microsoft__dropdown-tab-list {
    display: block; } }

/*----------------------- Dropbox ------------------------*/
.dropbox {
  background-color: #f7f7f7;
  padding: 0;
  overflow: hidden;
  font-family: "Open Sans", sans-serif; }
  .dropbox__bg {
    width: 1770px;
    position: absolute;
    left: 50%;
    margin-left: -885px;
    background-position: right center;
    background-size: contain;
    background-image: url("../img/dropbox/bg.jpg");
    background-repeat: no-repeat;
    height: 100%; }
    @media screen and (max-width: 1201px) {
      .dropbox__bg {
        background-position: 650px center; } }
    @media screen and (max-width: 910px) {
      .dropbox__bg {
        background-position: 760px center; } }
    @media screen and (max-width: 767px) {
      .dropbox__bg {
        background-position: 800px center;
        background-size: cover; } }
    @media screen and (max-width: 400px) {
      .dropbox__bg {
        background-image: none; } }
  .dropbox__inner {
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    padding-top: 75px;
    padding-bottom: 75px;
    min-height: 550px;
    max-width: 990px;
    box-sizing: content-box;
    z-index: 2; }
    @media screen and (max-width: 400px) {
      .dropbox__inner {
        max-width: 280px; } }
    .dropbox__inner-content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
      .dropbox__inner-content h1 {
        color: #47525d;
        margin: 0 auto;
        margin-bottom: 20px;
        max-width: 450px;
        font-size: 47.25px;
        font-weight: 100; }
        @media screen and (max-width: 1200px) {
          .dropbox__inner-content h1 {
            font-size: 31px;
            max-width: 350px; } }
        @media screen and (max-width: 767px) {
          .dropbox__inner-content h1 {
            font-size: 26px; } }
        @media screen and (max-width: 400px) {
          .dropbox__inner-content h1 {
            text-align: center;
            max-width: 280px; } }
      .dropbox__inner-content h2 {
        font-size: 21px;
        font-weight: 100;
        padding-bottom: 20px;
        line-height: 1.5;
        max-width: 450px;
        color: #47525d;
        margin: 0 auto; }
        @media screen and (max-width: 1200px) {
          .dropbox__inner-content h2 {
            font-size: 16px;
            max-width: 350px;
            margin-right: 0;
            margin-left: 0; } }
        @media screen and (max-width: 400px) {
          .dropbox__inner-content h2 {
            text-align: center;
            max-width: 280px; } }
    .dropbox__inner-btngroup {
      float: left;
      margin: 30px 0 0 0;
      text-align: center;
      background: none; }
      @media screen and (max-width: 400px) {
        .dropbox__inner-btngroup {
          float: none; } }
      .dropbox__inner-btngroup > a {
        min-width: 0;
        min-height: 0;
        margin: 0;
        padding: 19px 26px;
        font-size: 21px;
        line-height: 21px;
        background: #0071e0;
        color: #fff;
        display: block;
        text-align: center;
        border: none;
        border-radius: 6px;
        font-weight: normal;
        transition: .3s ease all; }
        .dropbox__inner-btngroup > a:hover {
          background-color: #3398ea;
          transition: .3s ease all; }
        @media screen and (max-width: 1200px) {
          .dropbox__inner-btngroup > a {
            font-size: 16px;
            padding: 14px 40px; } }
        @media screen and (max-width: 400px) {
          .dropbox__inner-btngroup > a {
            display: inline-block; } }
      .dropbox__inner-btngroup span {
        text-align: left;
        margin-top: 15px;
        font-size: 16px;
        color: #47525d;
        margin-bottom: 0;
        display: block; }
        .dropbox__inner-btngroup span > a {
          border-bottom: 1px solid #0071e0;
          color: #0071e0;
          text-decoration: none;
          transition: .3s ease all; }
          .dropbox__inner-btngroup span > a:hover {
            color: #3398ea;
            border-color: #3398ea;
            transition: .3s ease all; }
        @media screen and (max-width: 767px) {
          .dropbox__inner-btngroup span {
            text-align: center; } }

/*----------------------- Invision ------------------------*/
.invision {
  background: #323a45;
  padding: 160px 0 145px;
  font-family: "Open Sans", sans-serif;
  text-align: center; }
  @media screen and (max-width: 1115px) {
    .invision {
      padding: 1em 0; } }
  .invision__wrap {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px; }
    .invision__wrap h2 {
      color: #fff;
      font-size: 30px;
      margin-bottom: 55px;
      font-weight: 400; }
      @media screen and (max-width: 1115px) {
        .invision__wrap h2 {
          margin-bottom: 1em; } }
    .invision__wrap #signup_form .focus,
    .invision__wrap #signup_form .label {
      transition: .3s ease all; }
    .invision__wrap #signup_form .focus {
      display: inline !important;
      color: #000 !important; }
    .invision__wrap #signup_form i {
      opacity: 1 !important;
      display: block !important; }
  .invision-terms {
    font-size: 12px;
    line-height: 1.8em;
    color: #747c83; }
    .invision-terms a {
      transition: .3s ease all;
      color: #747c83;
      text-decoration: underline; }
      .invision-terms a:hover {
        color: #fff;
        transition: .3s ease all; }
  .invision form {
    display: inline-block;
    margin-bottom: 31px; }
    .invision form p {
      position: relative;
      float: left;
      margin: 0;
      font-size: 18px;
      color: #747c83; }
      @media screen and (max-width: 1115px) {
        .invision form p {
          float: none; } }
      .invision form p label {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 18px;
        color: #8a959e;
        margin: 16px 0 0 50px;
        font-weight: 400; }
        @media screen and (max-width: 1115px) {
          .invision form p label {
            margin-top: 32px; } }
      .invision form p i {
        position: absolute;
        top: 15px;
        left: 15px; }
        @media screen and (max-width: 1115px) {
          .invision form p i {
            margin-top: 1em; } }
      .invision form p input[type=text],
      .invision form p input[type=search],
      .invision form p input[type=email],
      .invision form p input[type=password] {
        background: white;
        line-height: 1em;
        border-radius: 3px;
        padding-left: 50px;
        margin-right: 10px;
        border: 1px solid #d4d7da;
        width: 250px;
        font-size: 18px;
        height: 53px; }
        .invision form p input[type=text]:focus,
        .invision form p input[type=search]:focus,
        .invision form p input[type=email]:focus,
        .invision form p input[type=password]:focus {
          outline: 0; }
        @media screen and (max-width: 1355px) {
          .invision form p input[type=text],
          .invision form p input[type=search],
          .invision form p input[type=email],
          .invision form p input[type=password] {
            width: 240px; } }
        @media screen and (max-width: 1255px) {
          .invision form p input[type=text],
          .invision form p input[type=search],
          .invision form p input[type=email],
          .invision form p input[type=password] {
            width: 200px; } }
        @media screen and (max-width: 1115px) {
          .invision form p input[type=text],
          .invision form p input[type=search],
          .invision form p input[type=email],
          .invision form p input[type=password] {
            width: 280px;
            margin-right: 0;
            margin-top: 1em; } }
        @media screen and (max-width: 400px) {
          .invision form p input[type=text],
          .invision form p input[type=search],
          .invision form p input[type=email],
          .invision form p input[type=password] {
            width: 200px; } }
  @media screen and (max-width: 1115px) {
    .invision-button {
      width: 100%; } }
  .invision-button button {
    display: inline-block;
    padding: 21px 20px;
    background: #ff3366;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    line-height: 1em;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s ease all; }
    .invision-button button:hover, .invision-button button:focus, .invision-button button:active {
      background-color: #ff4d79;
      transition: .3s ease all; }
    .invision-button button:focus, .invision-button button:active {
      box-shadow: none; }
    @media screen and (max-width: 1255px) {
      .invision-button button {
        padding: 21px 10px; } }
    @media screen and (max-width: 1115px) {
      .invision-button button {
        margin-top: 1em;
        padding: 21px 42px; } }
    @media screen and (max-width: 400px) {
      .invision-button button {
        padding: 21px 16px;
        font-size: 13px; } }
  .invision__ico {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    background-image: url("../img/sprites/sprite_invision.png");
    background-repeat: no-repeat; }
    .invision__ico-user {
      background-position: 0 -474px; }
    .invision__ico-email {
      background-position: 0 -386px; }
    .invision__ico-lock {
      background-position: 0 -430px; }

/*----------------------- Oculus ------------------------*/
.oculus__list-item {
  background: #282828;
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 33.3333%; }
  .oculus__list-item:hover .oculus__list-img {
    opacity: .8;
    transform: scale(1.1, 1.1); }
  @media screen and (max-width: 767px) {
    .oculus__list-item {
      width: 100%; } }

.oculus__list-link {
  display: block; }

.oculus__list-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  opacity: .3;
  text-align: center;
  transition: transform .3s, opacity .3s;
  width: 100%; }
  .oculus__list-img-first {
    background-image: url(https://scontent.oculuscdn.com/t64.5771-25/11162714_283652092025521_547216123_n.jpg/eve-valkyrie.jpg); }
  .oculus__list-img-second {
    background-image: url(https://scontent.oculuscdn.com/t64.5771-25/12504834_1610504179262797_1233001088_n.jpg/luckys-tale.jpg); }
  .oculus__list-img-third {
    background-image: url(https://scontent.oculuscdn.com/t64.5771-25/12504833_1567818890181507_64856256_n.jpg/touch.jpg); }

.oculus__list-text {
  box-sizing: border-box;
  padding: 0 32px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%; }
  .oculus__list-text h4 {
    color: #a4a5a6;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 16px;
    margin: 0;
    text-align: center;
    text-transform: uppercase; }
  .oculus__list-text h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    margin: 0;
    text-align: center; }

/*----------------------- Footer ------------------------*/
.footer__nav-column-section ~ .footer__nav-column-section {
  padding-top: 20px; }
  @media screen and (max-width: 767px) {
    .footer__nav-column-section ~ .footer__nav-column-section {
      padding-top: 0; } }

.footer {
  font-size: 12px;
  line-height: 1.66667;
  font-weight: 400;
  letter-spacing: normal;
  background-color: #f2f2f2;
  color: #666;
  min-width: 1024px;
  overflow: hidden;
  position: relative;
  z-index: 1; }
  @media screen and (max-width: 1044px) {
    .footer {
      min-width: 320px; } }
  .footer a {
    color: #666;
    text-decoration: none; }
    .footer a:hover, .footer a:link, .footer a:visited, .footer a:active {
      text-decoration: none; }
  .footer__wrap {
    margin: 0 auto;
    padding: 0 22px;
    max-width: 980px; }
  .footer__nav {
    padding-top: 32px; }
    .footer__nav-column {
      width: 20%;
      position: relative;
      z-index: 1;
      min-height: 2px;
      margin: 0;
      padding: 0;
      float: left; }
      @media screen and (max-width: 767px) {
        .footer__nav-column {
          width: 100%; } }
      .footer__nav-column-section {
        width: 100%;
        position: relative;
        z-index: 1;
        min-height: 2px;
        margin: 0;
        padding: 0;
        float: left;
        pointer-events: none; }
        .footer__nav-column-section-state {
          display: none; }
        @media screen and (max-width: 767px) {
          .footer__nav-column-section {
            border-bottom: 1px solid #e3e3e3;
            overflow: hidden;
            pointer-events: auto; } }
        .footer__nav-column-section-list {
          margin-right: 20px;
          list-style: none;
          padding: 0; }
          @media screen and (max-width: 767px) {
            .footer__nav-column-section-list {
              margin: 0;
              overflow: visible;
              padding-bottom: 16px;
              position: absolute;
              top: 100%;
              left: 0;
              width: 100%;
              visibility: hidden;
              z-index: -1;
              transform: translateY(-100px); } }
        .footer__nav-column-section-item {
          display: block;
          pointer-events: auto; }
        .footer__nav-column-section-title {
          font-size: 12px;
          line-height: 1.66667;
          font-weight: 500;
          letter-spacing: normal;
          color: #333;
          margin: 0; }
          @media screen and (max-width: 767px) {
            .footer__nav-column-section-title {
              background: #f2f2f2;
              cursor: pointer;
              position: relative;
              user-select: none;
              z-index: 2;
              font-size: 14px;
              line-height: 2.78571;
              font-weight: 400;
              letter-spacing: normal; }
              .footer__nav-column-section-title:after {
                content: '+';
                float: right;
                font-weight: normal;
                margin-right: 8px;
                transition: transform .3s ease; } }
        @media screen and (max-width: 767px) {
          .footer__nav-column-section-link {
            outline-offset: -6px;
            padding: 0 14px;
            display: block; } }
  .footer__more {
    color: #999;
    padding: 20px 0 24px; }
    .footer__more-top {
      border-bottom: 1px solid #e3e3e3;
      max-height: 9999px;
      margin-bottom: 6px;
      padding-bottom: 5px; }
      @media screen and (max-width: 767px) {
        .footer__more-top {
          border-bottom: 0; } }
      .footer__more-top a {
        color: #08c; }
    @media screen and (max-width: 767px) {
      .footer__more-location {
        float: none; } }
    .footer__more-location-flag {
      background-repeat: no-repeat;
      background-size: 16px 16px;
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url("http://images.apple.com/ac/flags/1/images/us/16.png");
      padding-right: 5px;
      background-position: left center;
      cursor: pointer;
      float: left;
      margin-top: 1px; }
    @media screen and (max-width: 767px) {
      .footer__more-legal {
        padding-top: 13px; } }
    .footer__more-legal-copyright {
      margin-right: 26px; }
      @media screen and (max-width: 767px) {
        .footer__more-legal-copyright {
          float: none;
          margin-right: 0; } }
    .footer__more-legal-links {
      margin-right: 26px; }
      @media screen and (max-width: 767px) {
        .footer__more-legal-links {
          float: none;
          margin-right: 0; } }
      .footer__more-legal-links a {
        border-right: 1px solid #d6d6d6;
        margin-right: 10px;
        padding-right: 12px;
        white-space: nowrap; }

@media screen and (max-width: 767px) {
  .footer__nav-column-section-state:target + .footer__nav-column-section .footer__nav-column-section-list,
  .footer__nav-column-section-state:checked + .footer__nav-column-section .footer__nav-column-section-list {
    position: static;
    visibility: visible;
    z-index: 1;
    transform: none;
    transition: transform 300ms ease; }
  .footer__nav-column-section-state:target + .footer__nav-column-section .footer__nav-column-section-title:after,
  .footer__nav-column-section-state:checked + .footer__nav-column-section .footer__nav-column-section-title:after {
    transform: rotate(45deg) scale(1.08); }
  .footer__nav-column-section-state:target + .footer__nav-column-section .footer__nav-column-section-title,
  .footer__nav-column-section-state:checked + .footer__nav-column-section .footer__nav-column-section-title {
    font-weight: 600;
    color: #333; } }
