/*----------------------- Footer ------------------------*/

.footer__nav-column-section ~ .footer__nav-column-section
  padding-top: 20px

  @media screen and (max-width: 767px)
    padding-top: 0

.footer
  font-size: 12px
  line-height: 1.66667
  font-weight: 400
  letter-spacing: normal
  background-color: #f2f2f2
  color: #666
  min-width: 1024px
  overflow: hidden
  position: relative
  z-index: 1

  @media screen and (max-width: 1044px)
    min-width: 320px

  a
    color: #666
    text-decoration: none

    &:hover,
    &:link,
    &:visited,
    &:active
      text-decoration: none

  &__wrap
    margin: 0 auto
    padding: 0 22px
    max-width: 980px


  &__nav
    padding-top: 32px

    &-column
      width: 20%
      position: relative
      z-index: 1
      min-height: 2px
      margin: 0
      padding: 0
      float: left

      @media screen and (max-width: 767px)
        width: 100%

      &-section
        width: 100%
        position: relative
        z-index: 1
        min-height: 2px
        margin: 0
        padding: 0
        float: left
        pointer-events: none

        &-state
          display: none

        @media screen and (max-width: 767px)
          border-bottom: 1px solid #e3e3e3
          overflow: hidden
          pointer-events: auto

        &-list
          margin-right: 20px
          list-style: none
          padding: 0

          @media screen and (max-width: 767px)
            margin: 0
            overflow: visible
            padding-bottom: 16px
            position: absolute
            top: 100%
            left: 0
            width: 100%
            visibility: hidden
            z-index: -1
            transform: translateY(-100px)

        &-item
          display: block
          pointer-events: auto

        &-title
          font-size: 12px
          line-height: 1.66667
          font-weight: 500
          letter-spacing: normal
          color: #333
          margin: 0

          @media screen and (max-width: 767px)
            background: #f2f2f2
            cursor: pointer
            position: relative
            user-select: none
            z-index: 2
            font-size: 14px
            line-height: 2.78571
            font-weight: 400
            letter-spacing: normal

            &:after
              content: '+'
              float: right
              font-weight: normal
              margin-right: 8px
              transition: transform .3s ease

        &-link

          @media screen and (max-width: 767px)
            outline-offset: -6px
            padding: 0 14px
            display: block

  &__more
    color: #999
    padding: 20px 0 24px

    &-top
      border-bottom: 1px solid #e3e3e3
      max-height: 9999px
      margin-bottom: 6px
      padding-bottom: 5px

      @media screen and (max-width: 767px)
        border-bottom: 0

      a
        color: #08c

    &-location

      @media screen and (max-width: 767px)
        float: none

      &-flag
        background-repeat: no-repeat
        background-size: 16px 16px
        display: inline-block
        width: 16px
        height: 16px
        background-image: url("http://images.apple.com/ac/flags/1/images/us/16.png")
        padding-right: 5px
        background-position: left center
        cursor: pointer
        float: left
        margin-top: 1px

    &-legal

      @media screen and (max-width: 767px)
        padding-top: 13px

      &-copyright
        margin-right: 26px

        @media screen and (max-width: 767px)
          float: none
          margin-right: 0

      &-links
        margin-right: 26px

        @media screen and (max-width: 767px)
          float: none
          margin-right: 0

        a
          border-right: 1px solid #d6d6d6
          margin-right: 10px
          padding-right: 12px
          white-space: nowrap

@media screen and (max-width: 767px)
  .footer__nav-column-section-state:target + .footer__nav-column-section .footer__nav-column-section-list,
  .footer__nav-column-section-state:checked + .footer__nav-column-section .footer__nav-column-section-list
    position: static
    visibility: visible
    z-index: 1
    transform: none
    transition: transform 300ms ease

  .footer__nav-column-section-state:target +.footer__nav-column-section .footer__nav-column-section-title:after,
  .footer__nav-column-section-state:checked +.footer__nav-column-section .footer__nav-column-section-title:after
    transform: rotate(45deg) scale(1.08)

  .footer__nav-column-section-state:target +.footer__nav-column-section .footer__nav-column-section-title,
  .footer__nav-column-section-state:checked +.footer__nav-column-section .footer__nav-column-section-title
    font-weight: 600
    color: #333