/*----------------------- Invision ------------------------*/

.invision
  background: #323a45
  padding: 160px 0 145px
  font-family: "Open Sans"
  text-align: center

  &__wrap
    max-width: 1320px
    margin: 0 auto
    padding: 0 20px

    h2
      color: #fff
      font-size: 30px
      margin-bottom: 55px

  &-terms
    font-size: 12px
    line-height: 1.8em
    color: #747c83

    a
      transition: .3s ease all
      color: #747c83
      text-decoration: underline

      &:hover
        color: #fff
        transition: .3s ease all

  form
    display: inline-block
    margin-bottom: 31px

    p
      position: relative
      float: left
      margin: 0
      font-size: 18px
      line-height: 1.8em
      color: #747c83

      label
        position: absolute
        top: 0
        left: 0
        font-size: 18px
        color: #8a959e
        margin: 16px 50px 0 16px
        font-weight: 400

      i
        position: absolute
        top: 18px
        left: 15px

      input[type=text],
      input[type=search],
      input[type=email],
      input[type=password]
        background: white
        line-height: 1em
        border-radius: 3px
        padding: 30px 48px 18px 15px
        margin-right: 10px
        border: 1px solid #d4d7da
        width: 280px